.card-body{
    img{
        display: flex;
        float: right;
        width: 289.84px;
        height: 250px;
    }
    div{
        padding: 32px;
        p{
            font-size: 12px;
        }
        h5{
            font-size: 28px;
        }
        a{
            font-size: 14px;
            margin-top: 13px;
            height: 36px;
            width: 96px;
        }
    }
}
.descubrir{
    padding-bottom: 80px;
}