.section{
    width: 468px;
    height: 514px;
    background-color: white;
    text-align: center;
    margin: auto;
    margin-top: 60px;
    

    h2{
        color: black;
        font-size: 24px;
    }

    
}